// HEADER GENERAL STYLES
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img{
    max-width: 225px;
}

// NAV Y ASIDE GENERAL STYLES
.header-ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 56px ;
    align-items: center;
    a{
        text-decoration: none;
        font-size: 18px;
        color: $color-black;

        &:hover{
            text-decoration: underline;
        }
    }

}

//NAV STYLES

nav ul li{
    &:first-child{
        a{
            color: $color-olive;
        }
        
    }
}

//ASIDE SYLES

aside{
    ul{
        li{
            &:nth-child(2){
                a{
                    color: $color-olive;
                    text-decoration: underline;
                    font-family: $nunito-font;
                }
            
            }
            &:last-child{
                a{
                    display: inline-block;
                    color: white;
                    background-color: $color-olive;
                    padding: 10px;
                    padding-left: 30px;
                    padding-right: 30px;
            
                }
            }
        }
    }
}
